@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #experience, .experience-details-container {
        margin-top: 2rem;
    }
    #profile, .section-container {
        display: block;
    }
    .arrow {
        display: none;
    }
    section, .section-container {
        height: fit-content;
    }
    section {
        margin: 0;
    }
    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers {
        margin-top: 0;
    }


    .grid-container {
        grid-template-rows: repeat(5, 75px);
        grid-template-columns: repeat(9, 75px);
        grid-gap: 2em 2em;
        grid-auto-rows: 100px;
      }

      .grid-button-container button {
        display: flex;
        justify-content: space-between;
        margin: auto;
        margin-top: 5px;
        padding: 10px;
      }

      .main-post img {
        gap: 0px;
        height: 395px;
    }

    .main-post-back img {
        height: 0px;
        visibility: hidden;
    }	
}

@media screen and (max-width: 992px) {
    .grid-container {
        grid-template-rows: repeat(5, 90px);
        grid-template-columns: repeat(6, 90px);
        grid-gap: 2em 2em;
        grid-auto-rows: 100px;
      }

      .main-post img {
        gap: 0px;
        height: 450px;
    }

    .main-post-back img {
        visibility: visible;
        height: 150px;
    }	

    .category-sidebar {
        visibility: hidden;
      }

     .flip-card {
	grid-row: 1/5;
	grid-column: 1/7;
	} 
}

@media screen and (max-width: 750px) {
    .grid-container {
        grid-template-rows: repeat(5, 90px);
        grid-template-columns: repeat(3, 90px);
        grid-gap: 2em 2em;
        grid-auto-rows: 100px;
      }

      .post-grid-container {
        grid-template-rows: repeat(5, 90px);
        grid-template-columns: repeat(3, 90px);
        grid-gap: 2em 2em;
        grid-auto-rows: 100px;
      }

      .grid-random-posts{
        display: none;
      }

      .main-post img {
        gap: 0px;
        height: 450px;
    }

    .main-content {
        grid-column: 1/5;
    }

    .main-post-back img {
        height: 0px;
        visibility: hidden;
    }	

     .flip-card {
	grid-row: 1/5;
	grid-column: 1/5;
	} 
    .latest-posts {
        grid-row: span 4;
        grid-column: span 4;
      }
      .latest-posts img {
        height: 230px;
      }
}

@media screen and (max-width: 600px) {
    #contact, footer {
        height: 40vh;
    }
    #profile {
        height: 20vh;
        margin-bottom: 0;
    }

    article {
        font-size: 1rem;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .about-containers, .contact-info-upper-container, .btn-container {
        flex-wrap: wrap;
    }

    .contact-info-container {
        margin: 0;
    }

    .contact-info-container p,
    .nav-links li a {
        font-size: 1rem;
    }

    .experience-sub-title {
        font-size: 1.25rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }

    .section__text__p2 {
        font-size: 1.25rem;
    }

    .title {
        font-size: 2rem;
    }

    .text-container {
        text-align: justify;
    }

    /*KALKULČKA*/

    .loan-calculator {
        width: 90%;
        max-width: 500px;
      }
    
    .loan-calculator form {
        flex-direction: column;
        gap: 20px;
      }
    
    .loan-calculator .result {
        flex-direction: column;
        text-align: center;
      }
}
@media screen and (max-width: 800px){
    .mortgage-calculator {
        width: 90%;
        max-width: 500px;
    }

    .mortgage-calculator .flex{
		display: inline-block;
	}

    .mortgage-calculator form select {
        width: 80%;
    }

    .mortgage-calculator form {
        width: 90%;
        max-width: 500px;
    }

    .loan-calculator .result {
        flex-direction: column;
        text-align: center;
    }

    .mortgage-calculator .calculate-btn {
		margin: auto; 
	}
}
